form {
    --text-color: #afafaf;
    max-width: 300px;
    width: 100%;
    font-family: arial, sans-serif;
    
}

fieldset{
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0;
    width: 100%;
    position: relative;
    border-bottom: 2px dashed var(--text-color);
    margin: 4rem auto 1rem;
    z-index: 3;
}

label {
    font-size: 1.2rem;
    color: var(--text-color);
}
input {
    outline: 0;
    border: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
input:valid {
    color: yellowgreen;
}
input:invalid {
    color: orangered;
    box-shadow: none;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

fieldset::after{
    content: " ";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #d16dff;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;

}
fieldset:focus-within {
    border: transparent;
}

fieldset:focus-within::after {
    transform: scaleX(1);

}

label {
    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
    left: 0px;
    bottom: -1rem;
}
fieldset:focus-within label,
input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateY(-5rem);
}

.strenght {
    display: flex;
    height: 20px;
    width: 100%;
}
.bar {
    margin-right: 5px;
    height: 100%;
    width: 25%;
    transition: box-shadow 500ms;
    box-shadow: inset 0px 20px #1f1f1f;
    display: block;
}
.bar-show {
    box-shadow: none;
}

.bar-1 {
    background: linear-gradient(to right, red, orangered);
}
.bar-2 {
    background: linear-gradient(to right, orangered, yellow)
}
.bar-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}
.bar-4 {
    background: linear-gradient(to right, yellowgreen, green);
}

.toggle-password {
    position: absolute;
    cursor: help;
    font-size: 0.8rem;
}
ul {
    color: #c0c0c0;
    font-size: .9rem;
}
.container {
    background: rgb(17, 17, 17);
    width: 100%;
    max-width: 420px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
}
.row-button button{
    background: #c0c0c0;
    color: #1f1f1f;
    border: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;
    display: block;
}
